<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vue.js</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <main>
        <h1 v-if="conectado">Estoy conectado</h1>

        <h2 v-if="edad < 18">No puedes entrar.</h2>
        <h2 v-else-if="edad > 200">Eres inmortal.</h2>
        <h2 v-else>Puedes entrar.</h2>

        <template v-if="conectado">
            <h3>Bienvenido Juan</h3>
            <ul>
                <li>
                    <a href="#">Mis datos</a>
                    <a href="#">Mensajes</a>
                    <a href="#">Salir</a>
                </li>
            </ul>
        </template>
        <h4 v-else>No estás conectado :(</h4>

        <pre>{{ $data }}</pre>
    </main>
    <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>